.header {
  height: 150px;
  width: 100%;
  box-shadow: 0 4px 5px -2px rgba(177, 175, 175, 0.884);
  display: inline-flex;
}

.header > h1 {
  font-size: 4em;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 0.7em;
  font-weight: 500;
  color: rgb(34, 34, 34);
}

.header img {
  height: 7rem;
  width: 7rem;
  margin-top: 0.7em;
}

.header p {
  display: none;
}

.nav-list {
  height: 6em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-list > a {
  color: gray;
  text-decoration: none;
}

.breaking-news {
  height: 400px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-items: flex-end;
}

.breaking-news > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.breaking-news-des {
  background-color: whitesmoke;
  position: absolute;
  align-self: center;
  bottom: 1px;
  left: 1px;
  width: 99.8%;
  height: 30%;
}

.breaking-news-des h3,
p {
  margin-left: 20px;
  color: gray;
  font-size: 1.2em;
}

.top-news-content {
  display: flex;
  flex-direction: column;
}

.top-news {
  height: 4em;
  padding: 8px;
  padding-bottom: 2px;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  box-shadow: 0 1px rgba(221, 221, 221, 0.884);
}

.top-news span {
  margin-bottom: 0.2em;
  font-size: 28px;
  color: gray;
}

.top-news a {
  text-decoration: none;
  font-size: 24px;
  color: gray;
}

.news-content {
  box-shadow: 0 1px rgba(221, 221, 221, 0.884);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-around;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 22px;
  color: gray;
  margin-left: 8px;
}
.score-table-container {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  display: grid;
}

.match-score {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}

.match-score > div {
  text-align: center;
  color: rgb(58, 56, 56);
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#score-head {
  text-align: center;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 20px;
}

#score-head > div {
  color: gray;
}
.weather-location {
  font-size: 32px;
  margin-left: 4px;
}
.weather-content {
  display: grid;
}
.weather-type {
  font-size: 24px;
  margin-left: 4px;
}

.weather-today {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.weather-today img {
  width: 260px;
  height: 180px;
}
.weather-today span {
  font-size: 42px;
  margin-top: 60px;
}
.weather-report {
  display: grid;
}
.weather-report-daily {
  grid-row-start: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: rgb(58, 56, 56);
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 12px;
}
.weather-report-daily > div > img {
  width: 180px;
  height: 180px;
}
.latest-news-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.latest-news-box .latest-news {
  height: 30px;
}

.latest-news-content {
  margin-top: 20px;
  margin-bottom: 0;
  height: 160px;
}

.latest-news-content img {
  width: 180px;
  margin-right: 20px;
  height: 120px;
  float: left;
}

.latest-news-content h2 {
  color: darkgray;
}

.latest-news-content p {
  color: darkgray;
  margin-left: 0;
  margin-bottom: 0;
}

.footer {
  width: 100%;
  box-shadow: 2px 2px 10px -2px rgba(92, 91, 91, 0.884);
  height: 3em;
  display: grid;
  justify-content: space-around;
  align-items: center;
  grid-template-columns: repeat(3, 2fr);
}

.footer > div > a {
  margin-left: 4em;
  color: rgb(63, 62, 62);
  text-decoration: none;
}

@media (max-width: 900px) {
  body {
    margin: 0;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(9, auto);
  }

  .header {
    grid-area: 1/1/2/3;
    height: 80px;
    box-shadow: 0 2px 5px rgba(177, 175, 175, 0.884);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .header > h1 {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header img {
    height: 4rem;
    width: 4rem;
  }

  .header p {
    display: none;
  }

  .nav-list {
    grid-area: 2/1/3/3;
  }

  .breaking-news {
    grid-area: 3/1/4/2;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  .breaking-news > img {
    width: 100%;
    height: 300px;
  }

  .breaking-news-des {
    background-color: rgba(48, 48, 48, 0.5);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    width: 99.8%;
    height: 40%;
  }

  .breaking-news-des h3 {
    margin-left: 5px;
    padding-bottom: 0;
    color: white;
    font-size: 1.2rem;
  }

  .breaking-news-des p {
    margin-left: 5px;
    color: white;
    font-size: 0.9rem;
    margin-top: 0px;
  }

  .top-news-content {
    grid-area: 4/1/5/3;
  }

  .top-news {
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px rgba(221, 221, 221, 0.884);
  }

  .top-news span {
    font-size: 24px;
    color: gray;
  }

  .top-news a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
  }

  .news-content {
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0 1px rgba(221, 221, 221, 0.884);
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 18px;
    color: gray;
  }
  .score-table-container {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-area: 5/1/6/3;
  }

  .score-table-container > div:nth-child(even) {
    background-color: lightgray;
  }

  .match-score > div {
    text-align: center;
    font-size: 18px;
    color: balck;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .score-table-container > div {
    text-align: center;
    color: rgb(58, 56, 56);
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #score-head {
    background-color: rgb(63, 112, 151);
  }
  .weather-content {
    grid-area: 3/2/4/3;
    grid-column-gap: 4px;
  }

  .weather-location {
    font-size: 24px;
    margin-left: 8px;
  }
  .weather-type {
    font-size: 16px;
    margin-left: 8px;
  }

  .weather-today {
    position: relative;
  }
  .weather-today img {
    width: 150px;
    height: 104px;
  }
  .weather-today span {
    position: absolute;
    left: 150px;
    top: -14px;
    font-size: 24px;
  }

  .weather-report {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 40px;
  }
  .weather-report-daily {
    text-align: center;
    color: rgb(58, 56, 56);
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .weather-report-daily > div > img {
    width: 40px;
    height: 40px;
  }

  .latest-news-box {
    grid-area: 6/1/7/3;
  }

  .latest-news-content {
    height: 120px;
    display: block;
  }

  .latest-news-content img {
    width: 20%;
    height: 100px;
    margin-right: 20px;
    margin-bottom: 0;
    float: left;
  }

  .latest-news-content h2 {
    color: black;
    font-size: 18px;
  }

  .latest-news-content > p {
    font-size: 14px;
    color: black;
  }

  .footer {
    width: 100%;
    box-shadow: 2px 2px 10px 2px rgba(92, 91, 91, 0.884);
    height: 3em;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
    grid-area: 7/1/8/3;
  }
}

@media (max-width: 600px) {
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  .header {
    height: 40px;
    box-shadow: 0 2px 5px rgba(177, 175, 175, 0.884);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .header > h1 {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
  }

  .header img {
    height: 2rem;
    width: 2rem;
  }

  .header p {
    display: block;
  }

  .nav-list {
    display: none;
  }

  .latest-news-box {
    display: flex;
    flex-direction: column;
  }

  .latest-news-content {
    margin-top: 1em;
    height: 150px;
    display: block;
  }

  .latest-news-content img {
    width: 30%;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 0;
    float: left;
  }

  .latest-news-content h2 {
    color: gray;
    font-size: 16px;
  }

  .latest-news-content > p {
    font-size: 12px;
    color: gray;
  }
  .footer {
    font-size: 10px;
  }
}
